[Desktop Entry]
Type=Application
Name=CANOpenAnalyzer
GenericName=CANOpen reverse engineering tool
Comment=Facilitates reverse engineering of canopen captures
Exec=CANOpenAnalyzer
Icon=CANOpenAnalyzer
Terminal=false
Categories=Development;Electronics;IDE;
MimeType=text/x-application;
Keywords=embedded electronics;electronics;canbus;reverse engineering;
